<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14711649894-958b172a2hfhl9d3v6dg2r57bll33b52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14711649894-958b172a2hfhl9d3v6dg2r57bll33b52</string>
	<key>API_KEY</key>
	<string>AIzaSyAShtKpPJBpDEU_zduaXFJ1ZZCMsGb02u4</string>
	<key>GCM_SENDER_ID</key>
	<string>14711649894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.signInWithStacked</string>
	<key>PROJECT_ID</key>
	<string>stacked-forms</string>
	<key>STORAGE_BUCKET</key>
	<string>stacked-forms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14711649894:ios:9c498f49da6c4e785cdfa7</string>
</dict>
</plist>